RewriteCond %{HTTP_HOST} ^ebenrieder\.de$ [NC]
RewriteRule ^(.*)$ http://www.ebenrieder.de/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /index.html [L]