@import '../../App/Variables.scss';

#menu {
    position: fixed;
    z-index: 1000;

    &.narrow {
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        pointer-events: all;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $spacing-menu;
        width: 100%;
        transition:
            box-shadow 0.5s ease,
            transform 0.5s ease;
        box-shadow: 0px 0px 25px 0px transparentize($color-shadow, 1);
        transform: translateY(100%);
        padding-right: $spacing-booking;
        background: transparentize($color-white, 0.75);

        &.flow {
            box-shadow: 0px 0px 25px 0px transparentize($color-shadow, 0.75);
            transform: translateY(0);
        }

        #menuLeft,
        #menuRight {
            position: absolute;
            z-index: 1250;
            cursor: pointer;
            display: none;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 25px;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-perspective: 1000;
            perspective: 1000;
            overflow: hidden;

            svg {
                height: 25px;
                width: 18px;

                polyline {
                    fill: none;
                    stroke: $color-blue;
                    stroke-miterlimit: 10;
                    stroke-dashoffset: 0;
                    stroke-width: $border-xl;
                    stroke-dasharray: 56.57 56.57;
                }
            }

            &.active {
                display: flex;
            }
        }

        #menuLeft {
            left: 0;

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                display: block;
                height: 100%;
                width: 43px;
                background: $color-white;
                box-shadow: 0 0 25px 25px $color-white;
            }

            @media (hover: hover) {
                &:hover polyline {
                    animation: leftPolyline 1s linear forwards;
                }
            }

            @keyframes left {
                0% {
                    stroke-dashoffset: 0;
                }
                50% {
                    stroke-dashoffset: 56.57;
                }
                50.00001% {
                    stroke-dashoffset: -56.57;
                }
                100% {
                    stroke-dashoffset: 0;
                }
            }
        }

        #menuRight {
            right: $spacing-booking;

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                display: block;
                height: 100%;
                width: 43px;
                background: $color-white;
                box-shadow: 0 0 25px 25px $color-white;
            }

            @media (hover: hover) {
                &:hover polyline {
                    animation: rightPolyline 1s linear forwards;
                }
            }

            @keyframes right {
                0% {
                    stroke-dashoffset: 0;
                }
                50% {
                    stroke-dashoffset: -56.57;
                }
                50.00001% {
                    stroke-dashoffset: 56.57;
                }
                100% {
                    stroke-dashoffset: 0;
                }
            }
        }

        #menuContent {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 25px;
            height: 100%;
            width: 100%;
            overflow-x: auto;
            padding: 0 25px;
            -ms-overflow-style: none;
            scrollbar-width: none;
            background: $color-white;

            &::-webkit-scrollbar {
                display: none;
            }

            .menuName {
                cursor: pointer;
                color: transparentize($color-blue, 0.5);
                white-space: nowrap;

                &.active {
                    color: $color-blue;
                }

                @media (hover: hover) {
                    &:hover {
                        color: $color-blue;
                    }
                }
            }
        }
    }

    &.wide {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: var(--spacing-horizontal);
        mix-blend-mode: difference;
        filter: invert(100%);

        &.top {
            position: absolute;
            top: 100svh;
            left: 0;
            height: 100svh;
        }

        &.flow,
        &.bottom {
            position: fixed;
            top: 0;
            left: 0;
            height: 100svh;
        }

        #menuContent {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            #menuName {
                position: absolute;
                top: -10px;
                left: 12px;
                height: var(--spacing-horizontal);
                transform-origin: left;
                transform: translateY(-50%) rotate(-90deg);
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
            }

            @media (max-height: $media-s) {
                #menuName {
                    font-size: var(--font-size-detail);
                }
            }

            @media (max-height: $media-xs) {
                display: none;
            }

            .menuDot {
                pointer-events: all;
                box-sizing: border-box;
                cursor: pointer;
                height: 22.5px;
                width: 22.5px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 0.5s ease;

                @media (hover: hover) {
                    &:hover {
                        transform: scale(1.5);
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    background-color: transparentize($color-blue, 0.5);
                }

                &.active::after {
                    background-color: $color-blue;
                }
            }
        }
    }
}

#booking {
    #bookingText,
    #bookingBackground {
        position: fixed;
        z-index: 1000;
        bottom: 0;
        right: 0;
        height: $spacing-menu;
        width: $spacing-booking;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease;
        transform: translateY(100%);
    }

    &.flow {
        #bookingText,
        #bookingBackground {
            transform: translateY(0);
        }
    }

    #bookingText {
        z-index: 2000;

        .underlineLink {
            color: $color-white;

            &::after {
                background-color: $color-white;
            }
        }
    }

    #bookingBackground {
        background: $color-blue;
        mix-blend-mode: difference;
        filter: invert(100%);
    }
}
