@import '../../App/Variables.scss';

#overview {
    #welcome {
        position: relative;
        height: 100vh;
        width: 100vw;
        max-width: 100%;

        .guide {
            position: absolute;
            left: 50%;
            bottom: 50px;
            transform: translate(-50%, 0%);
            mix-blend-mode: difference;
            filter: invert(100%);
            opacity: 0;
            transition: opacity $transition-l ease;

            @keyframes guide {
                0% {
                    opacity: 0;
                    transform: translate(-50%, -25px);
                }
                100% {
                    opacity: 1;
                    transform: translate(-50%, 0px);
                }
            }
        }

        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
            max-width: 100%;
        }
    }

    #content {
        padding: 100px 0 0 0;

        article {
            p {
                font-size: var(--font-size-p);
                margin-bottom: 100px;
                padding: 0 var(--padding);
                text-align: justify;
                line-height: 1.5;
            }
        }
    }
}
