@import '../../General/Variables.scss';

#main {
    position: relative;
    height: 100%;
    width: 100%;

    &.start {
        #header {
            transform: translateY(-100%);
        }

        #welcome {
            #scrollHint {
                opacity: 1;
            }
        }
    }
}

#mouse {
    display: none;
    pointer-events: none;
    position: fixed;
    z-index: 99999;

    &.left,
    &.right {
        display: block;
        height: 50px;
        width: 75px;
        background-repeat: no-repeat;
        background-position: center;
        mix-blend-mode: difference;
        filter: invert(100%);
        margin-left: -37.5px;
        margin-top: -25px;
    }

    &.left {
        background-image: url('assets/svg/arrow_large_left.svg');
    }

    &.right {
        background-image: url('assets/svg/arrow_large_right.svg');
    }
}

#welcome {
    position: relative;
    height: 100vh;
    width: 100vw;

    #scrollHint {
        position: absolute;
        left: 50%;
        bottom: $spacing-l;
        transform: translate(-50%, 0%);
        height: 40px;
        width: 25px;
        border: 2px solid $color-blue;
        border-radius: 50px;
        animation: mouse 1s ease;
        mix-blend-mode: difference;
        filter: invert(100%);
        opacity: 0;
        transition: opacity $transition-l ease;

        @keyframes mouse {
            0% {
                opacity: 0;
                transform: translate(-50%, -25px);
            }
            100% {
                opacity: 1;
                transform: translate(-50%, 0px);
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $color-blue;
            border-radius: 50%;
            animation: wheel 2s infinite ease;
        }

        @keyframes wheel {
            0% {
                opacity: 0;
            }
            10% {
                top: 10px;
                opacity: 1;
            }
            80% {
                top: 20px;
                opacity: 1;
            }
            90% {
                opacity: 0;
            }
            100% {
                top: 20px;
                opacity: 0;
            }
        }
    }

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        max-width: 100%;
    }
}

#content {
    padding: var(--padding-vertical) 0;

    section {
        header {
            font-size: $font-size-header;
            margin-bottom: calc(var(--padding-vertical) / 2);
            padding: 0 var(--padding-horizontal);
        }

        main {
            font-size: $font-size-text;
            margin-bottom: var(--padding-vertical);
            padding: 0 var(--padding-horizontal);
        }
    }
}
