@import '../../App/Variables.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    max-height: 100dvh;
    max-width: 100%;
    z-index: 3000;

    .modalForeground {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1200px;
        z-index: 3250;
        background-color: $color-white;
        overflow-y: auto;
        touch-action: auto;
        box-shadow: 0px 0px 50px 0px transparent;
        transform: translateX(100%);
        transition:
            box-shadow 0.5s ease,
            width 0.5s ease,
            transform 0.5s ease;

        @media (max-width: $media-l) {
            width: 800px;
        }

        @media (max-width: $media-m) {
            width: 100%;
        }

        .modalBack {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: $spacing-header;
            gap: 10px;
            padding: 0 var(--spacing-box-horizontal);

            img {
                height: 15px;
            }
        }
    }

    .modalBackground {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        transition: background-color 0.5s ease;
    }

    &.active {
        .modalForeground {
            box-shadow: 0px 0px 50px 0px transparentize($color-shadow, 0.75);
            transform: translateX(0%);
        }

        .modalBackground {
            background-color: transparentize($color-blue, $amount: 0.75);
        }
    }

    .modalEvent {
        .gallery {
            height: 400px !important;
            min-height: 30vmax !important;
        }

        .modalContent {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: var(--spacing-box-vertical) var(--spacing-box-horizontal);
            gap: var(--spacing-box-vertical);

            @media (max-width: $media-l) {
                display: flex;
                flex-direction: column;
            }

            .modalLeft {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: var(--spacing-box-vertical);

                .modalTitle {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    width: 100%;

                    > .modalSubtitle {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px 5px;
                        letter-spacing: 1px;
                        line-height: $line-height-l;
                    }
                }

                .modalDescription {
                    text-align: justify;
                    line-height: $line-height-m;
                    white-space: pre-wrap;

                    @media (max-width: $media-s) {
                        text-align: left;
                    }
                }

                .modalButtons {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 25px;
                }
            }

            .modalRight {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: var(--spacing-box-vertical);

                .modalDetails {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 6px;
                    font-size: var(--font-size-detail);
                    line-height: $line-height-m;
                    letter-spacing: 0.75px;

                    .detail {
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        line-height: $line-height-m;
                        gap: 2px 5px;
                    }

                    .line {
                        height: $border-s;
                        width: 100%;
                        background: $color-blue;
                    }
                }

                .modalProgram {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    width: 100%;
                    padding: 25px;
                    font-size: var(--font-size-detail);
                    border: $border-s solid $color-blue;

                    .day {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        > p {
                            font-weight: $font-weight-bold;
                            margin-bottom: 5px;
                        }

                        .activity {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            width: fit-content;

                            .time {
                                min-width: 150px;
                            }

                            .description {
                                line-height: $line-height-m;
                            }
                        }
                    }
                }
            }
        }
    }

    .modalRoom {
        .gallery {
            height: 400px !important;
            min-height: 30vmax !important;
        }

        .modalContent {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: var(--spacing-box-vertical) var(--spacing-box-horizontal);
            gap: var(--spacing-box-vertical);

            @media (max-width: $media-l) {
                display: flex;
                flex-direction: column;
            }

            .modalLeft {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: var(--spacing-box-vertical);

                .modalTitle {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    width: 100%;

                    > .modalSubtitle {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px 5px;
                        letter-spacing: 1px;
                    }
                }

                .modalDescription {
                    text-align: justify;
                    line-height: $line-height-m;
                    white-space: pre-wrap;

                    @media (max-width: $media-s) {
                        text-align: left;
                    }
                }

                .modalButtons {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 25px;
                }
            }

            .modalRight {
                .modalFeatures {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
                    gap: 25px;
                    margin-left: 50px;

                    @media (max-width: $media-l) {
                        margin: 0;
                    }

                    .modalFeature {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;

                        p {
                            white-space: nowrap;
                        }

                        img {
                            height: 25px;
                        }

                        &.quantityYoga img {
                            width: 35px;
                        }

                        &.quantityPeople img {
                            height: 22.5px;
                        }
                    }
                }
            }
        }
    }
}
