@import './Fonts.scss';
@import './Variables.scss';

* {
    -webkit-touch-callout: none;    
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    -webkit-text-size-adjust: 100%;
}

body {
    color: $color-blue;
    font-family: 'Futura', sans-serif;
    font-weight: $font-weight-regular;
    font-size: var(--font-size-text);
    line-height: $line-height-s;
    letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $color-blue;
    text-decoration: none;
}

img,
svg {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
}

#app {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 320px;
    background-color: $color-white;

    &.hideCursor {
        cursor: none !important;
    }

    #overview #content section header,
    #overview #content section main,
    #imprint,
    #footer {
        transition:
            margin 0.5s ease,
            padding 0.5s ease;
    }
}

.underlineLink {
    cursor: pointer;
    position: relative;
    height: fit-content;
    width: fit-content;

    @media (hover: hover) {
        &:hover::after {
            animation: underlineLink 1s ease;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        height: $border-s;
        width: 100%;
        transform: scaleX(1);
        border-radius: $border-s;
        background-color: $color-blue;
    }

    @keyframes underlineLink {
        0% {
            transform-origin: right;
            transform: scaleX(1);
        }
        49% {
            transform-origin: right;
            transform: scaleX(0);
        }
        51% {
            transform-origin: left;
            transform: scaleX(0);
        }
        100% {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

.underlineMenu {
    cursor: pointer;
    position: relative;
    height: fit-content;
    width: fit-content;

    &::after {
        content: '';
        display: none;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: $border-s;
        width: 100%;
        transform: scaleX(1);
        border-radius: $border-s;
        background-color: $color-blue;
    }

    &.active {
        &::after {
            display: block;
            animation: underlineMenu 0.5s ease;
        }
    }

    @keyframes underlineMenu {
        0% {
            transform-origin: left;
            transform: scaleX(0);
        }
        100% {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}
