@import './Fonts.scss';
@import './Variables.scss';

* {
    -webkit-touch-callout: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

body {
    color: $color-blue;
    font-family: 'Futura', sans-serif;
    font-weight: $font-weight-regular;
    font-size: $font-size-text;
    line-height: 1.25;
    letter-spacing: 0.5px;
}

#app {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $color-blue;
    text-decoration: none;
}

.underline {
    cursor: pointer;
    position: relative;
    height: fit-content;
    width: fit-content;

    &:hover::after {
        animation: underline $transition-l ease;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        height: $border-underline;
        width: 100%;
        transform: scaleX(1);
        border-radius: $border-underline;
        background-color: $color-blue;
    }

    @keyframes underline {
        0% {
            transform-origin: right;
            transform: scaleX(1);
        }
        49% {
            transform-origin: right;
            transform: scaleX(0);
        }
        51% {
            transform-origin: left;
            transform: scaleX(0);
        }
        100% {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}
