/******************************/
/************ COLOR ***********/
/******************************/

$color-white: #ffffff;
$color-black: #000000;
$color-blue: #32468a;
$color-shadow: #1b2a5b;

/******************************/
/********* FONT-WEIGHT ********/
/******************************/

$font-weight-thin: 200;
$font-weight-regular: 400;
$font-weight-bold: 800;

/******************************/
/*********** SPACING **********/
/******************************/

$spacing-header: 100px;
$spacing-menu: 75px;
$spacing-gallery: 750px;
$spacing-bullet: 5px;
$spacing-icon: 75px;
$spacing-click: 200px;

/******************************/
/*********** BORDER ***********/
/******************************/

$border-xs: 1.5px;
$border-s: 2px;
$border-m: 2.5px;
$border-l: 3px;
$border-xl: 3.5px;

/******************************/
/******** LINE HEIGHT *********/
/******************************/

$line-height-s: 1.25;
$line-height-m: 1.5;
$line-height-l: 2;

/******************************/
/************ MEDIA ***********/
/******************************/

$media-xs: 400px;
$media-s: 700px;
$media-m: 900px;
$media-l: 1300px;
$media-xl: 1700px;

/******************************/
/********** VARIABLES *********/
/******************************/

:root {
    --spacing-horizontal: 125px;
    --spacing-vertical-s: 75px;
    --spacing-vertical-m: 100px;
    --spacing-vertical-l: 150px;
    --spacing-box-horizontal: 50px;
    --spacing-box-vertical: 50px;
    --font-size-text: 16px;
    --font-size-detail: 14px;
    --font-size-h1: 56px;
    --font-size-h2: 32px;
    --font-size-h3: 22px;
    --font-size-h4: 16px;
    --media-xs: #{$media-xs};
    --media-s: #{$media-s};
    --media-m: #{$media-m};
    --media-l: #{$media-l};
    --media-xl: #{$media-xl};
}

@media (max-width: $media-s) {
    :root {
        --spacing-horizontal: 50px;
        --spacing-vertical-s: 50px;
        --spacing-vertical-m: 75px;
        --spacing-vertical-l: 100px;
        --font-size-text: 16px;
        --font-size-detail: 14px;
        --font-size-h1: 42px;
        --font-size-h2: 28px;
        --font-size-h3: 22px;
        --font-size-h4: 16px;
    }
}

@media (max-width: $media-xs) {
    :root {
        --spacing-horizontal: 25px;
        --spacing-vertical-s: 50px;
        --spacing-vertical-m: 50px;
        --spacing-vertical-l: 75px;
        --spacing-box-horizontal: 25px;
        --spacing-box-vertical: 50px;
        --font-size-text: 16px;
        --font-size-detail: 14px;
        --font-size-h1: 42px;
        --font-size-h2: 28px;
        --font-size-h3: 22px;
        --font-size-h4: 16px;
    }
}
