/******************************/
/************ COLOR ***********/
/******************************/

$color-white: #ffffff;
$color-black: #000000;
$color-blue: #32468a;

/******************************/
/********** FONT-SIZE *********/
/******************************/

$font-size-text: 16px;
$font-size-header: 48px;

/******************************/
/********* FONT-WEIGHT ********/
/******************************/

$font-weight-thin: 200;
$font-weight-regular: 400;
$font-weight-bold: 800;

/******************************/
/*********** SPACING **********/
/******************************/

$spacing-s: 10px;
$spacing-m: 25px;
$spacing-l: 50px;

$spacing-gallery: 600px;
$spacing-bullet: 5px;
$spacing-icon: 75px;
$spacing-click: 200px;
$spacing-padding-desktop-horizontal: 125px;
$spacing-padding-desktop-vertical: 75px;
$spacing-padding-mobile-horizontal: 100px;
$spacing-padding-mobile-vertical: 100px;

/******************************/
/*********** BORDER ***********/
/******************************/

$border-width: 2.5px;
$border-underline: 2px;
$border-icon: 3px;

/******************************/
/********* TRANSITION *********/
/******************************/

$transition-s: 0.25s;
$transition-m: 0.5s;
$transition-l: 1s;

/******************************/
/************ MEDIA ***********/
/******************************/

$media-s: 600px;
$media-m: 1000px;
$media-l: 2000px;

/******************************/
/********** VARIABLES *********/
/******************************/

:root {
    --padding-horizontal: #{$spacing-padding-desktop-horizontal};
    --padding-vertical: #{$spacing-padding-desktop-vertical};
    --media-s: #{$media-s};
    --media-m: #{$media-m};
    --media-l: #{$media-l};
}

@media (max-width: $media-s) {
    :root {
        --padding-horizontal: #{$spacing-padding-mobile-horizontal};
        --padding-vertical: #{$spacing-padding-mobile-vertical};
    }
}
