/******************************/
/************ COLOR ***********/
/******************************/

$color-white: #ffffff;
$color-black: #000000;
$color-blue: #32468a;

/******************************/
/********** FONT-SIZE *********/
/******************************/

$font-size-desktop-p: 16px;
$font-size-desktop-h1: 56px;
$font-size-desktop-h2: 32px;
$font-size-desktop-h3: 16px;
$font-size-mobile-p: 16px;
$font-size-mobile-h1: 56px;
$font-size-mobile-h2: 32px;
$font-size-mobile-h3: 16px;

/******************************/
/********* FONT-WEIGHT ********/
/******************************/

$font-weight-thin: 200;
$font-weight-regular: 400;
$font-weight-bold: 800;

/******************************/
/*********** SPACING **********/
/******************************/

$spacing-header: 100px;
$spacing-gallery: 800px;
$spacing-bullet: 5px;
$spacing-icon: 75px;
$spacing-click: 200px;
$spacing-padding-desktop: 125px;
$spacing-padding-mobile: 50px;

/******************************/
/*********** BORDER ***********/
/******************************/

$border-width: 2.5px;
$border-underline: 2px;
$border-icon: 3px;

/******************************/
/********* TRANSITION *********/
/******************************/

$transition-s: 0.25s;
$transition-m: 0.5s;
$transition-l: 1s;

/******************************/
/************ MEDIA ***********/
/******************************/

$media-s: 600px;
$media-m: 1000px;
$media-l: 2000px;

/******************************/
/********** VARIABLES *********/
/******************************/

:root {
    --padding: #{$spacing-padding-desktop};
    --font-size-p: #{$font-size-desktop-p};
    --font-size-h1: #{$font-size-desktop-h1};
    --font-size-h2: #{$font-size-desktop-h2};
    --font-size-h3: #{$font-size-desktop-h3};
    --media-s: #{$media-s};
    --media-m: #{$media-m};
    --media-l: #{$media-l};
}

@media (max-width: $media-s) {
    :root {
        --padding: #{$spacing-padding-mobile};
        --font-size-p: #{$font-size-mobile-p};
        --font-size-h1: #{$font-size-mobile-h1};
        --font-size-h2: #{$font-size-mobile-h2};
        --font-size-h3: #{$font-size-mobile-h3};
    }
}
