@import '../../App/Variables.scss';

#imprint {
    padding: calc($spacing-header + 50px) var(--spacing-horizontal) 0 var(--spacing-horizontal);

    h1 {
        margin-bottom: var(--spacing-vertical-m);
    }

    #content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--spacing-vertical-m);

        #left {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-vertical-s);
            white-space: nowrap;

            article {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: fit-content;

                h4 {
                    display: block;
                    margin-bottom: 2.5px;
                }

                &.grid {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 5px 25px;
                }
            }
        }

        #right {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-vertical-s);

            h2 {
                margin-bottom: 30px;
            }

            p {
                text-align: justify;
                line-height: 1.5;
            }
        }
    }

    @media (max-width: $media-m) {
        #content {
            flex-direction: column;

            #left {
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;

                article {
                    flex-basis: 45%;

                    &.contact {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }

    @media (max-width: $media-s) {
        padding: calc($spacing-header + 25px) var(--spacing-horizontal) 0 var(--spacing-horizontal);
    }
}
