@import '../../App/Variables.scss';

$paddingLogo: 10px;
$paddingLanguage: 10px;

#header {
    pointer-events: none;
    box-sizing: border-box;
    position: fixed;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    height: $spacing-header;
    width: 100%;
    mix-blend-mode: difference;
    transform: translateY(0%);
    transition: transform 1s ease;
    filter: invert(100%);

    &.hide {
        transform: translateY(-100%);
    }

    #headerLeft {
        display: flex;
        align-items: center;
        height: 100%;
        width: var(--spacing-horizontal);
        margin: 0;
        transition: margin 0.5s ease;

        a {
            display: block;
            width: fit-content;
            margin: 0 auto;

            #headerLogo {
                cursor: pointer;
                pointer-events: all;
                width: 40px;
                padding: $paddingLogo;

                #headerLogo_01,
                #headerLogo_02,
                #headerLogo_03 {
                    fill: none;
                    stroke: $color-blue;
                    stroke-width: 25;
                    stroke-dashoffset: 0;
                }

                #headerLogo_01 {
                    stroke-dasharray: 518 518;
                }

                #headerLogo_02 {
                    stroke-dasharray: 379 379;
                }

                #headerLogo_03 {
                    stroke-dasharray: 163 163;
                }

                @media (hover: hover) {
                    &:hover {
                        #headerLogo_01 {
                            animation-duration: 1.5s;
                            animation-fill-mode: forwards;
                            animation-name: headerLogo_01;
                            animation-iteration-count: 1;
                            animation-timing-function: linear;

                            @keyframes headerLogo_01 {
                                0% {
                                    stroke-dashoffset: 0;
                                }
                                20% {
                                    stroke-dashoffset: -518;
                                }
                                40% {
                                    stroke-dashoffset: -518;
                                }
                                50% {
                                    stroke-dashoffset: -518;
                                }
                                50.00001% {
                                    stroke-dashoffset: 518;
                                }
                                70% {
                                    stroke-dashoffset: 0;
                                }
                                90% {
                                    stroke-dashoffset: 0;
                                }
                                100% {
                                    stroke-dashoffset: 0;
                                }
                            }
                        }

                        #headerLogo_02 {
                            animation-duration: 1.5s;
                            animation-fill-mode: forwards;
                            animation-name: headerLogo_02;
                            animation-iteration-count: 1;
                            animation-timing-function: linear;

                            @keyframes headerLogo_02 {
                                0% {
                                    stroke-dashoffset: 0;
                                }
                                20% {
                                    stroke-dashoffset: 0;
                                }
                                40% {
                                    stroke-dashoffset: -379;
                                }
                                50% {
                                    stroke-dashoffset: -379;
                                }
                                50.00001% {
                                    stroke-dashoffset: 379;
                                }
                                70% {
                                    stroke-dashoffset: 379;
                                }
                                90% {
                                    stroke-dashoffset: 0;
                                }
                                100% {
                                    stroke-dashoffset: 0;
                                }
                            }
                        }

                        #headerLogo_03 {
                            animation-duration: 1.5s;
                            animation-fill-mode: forwards;
                            animation-name: headerLogo_03;
                            animation-iteration-count: 1;
                            animation-timing-function: linear;

                            @keyframes headerLogo_03 {
                                0% {
                                    stroke-dashoffset: 0;
                                }
                                20% {
                                    stroke-dashoffset: 0;
                                }
                                40% {
                                    stroke-dashoffset: 0;
                                }
                                50% {
                                    stroke-dashoffset: -163;
                                }
                                50.00001% {
                                    stroke-dashoffset: 163;
                                }
                                70% {
                                    stroke-dashoffset: 163;
                                }
                                90% {
                                    stroke-dashoffset: 163;
                                }
                                100% {
                                    stroke-dashoffset: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #headerRight {
        display: flex;
        align-items: center;
        height: 100%;
        width: var(--spacing-horizontal);
        margin: 0;
        transition: margin 0.5s ease;

        #headerLanguage {
            cursor: pointer;
            pointer-events: all;
            margin: 0 auto;
            padding: $paddingLanguage;
            letter-spacing: 2.5px;

            #headerEnglish,
            #headerGerman {
                height: 22.5px;
                width: 30px;
            }

            #headerEnglish_01,
            #headerEnglish_02,
            #headerEnglish_03,
            #headerGerman_01,
            #headerGerman_02,
            #headerGerman_03 {
                fill: none;
                stroke: $color-blue;
                stroke-width: 1.75;
                stroke-dashoffset: 0;
            }

            #headerEnglish_01 {
                stroke-dasharray: 5.61 5.61;
            }

            #headerEnglish_02 {
                stroke-dasharray: 21.88 21.88;
            }

            #headerEnglish_03 {
                stroke-dasharray: 33.94 33.94;
            }

            #headerGerman_01 {
                stroke-dasharray: 33.22 33.22;
            }

            #headerGerman_02 {
                stroke-dasharray: 5.62 5.62;
            }

            #headerGerman_03 {
                stroke-dasharray: 21.89 21.89;
            }

            @media (hover: hover) {
                &:hover {
                    #headerEnglish_01 {
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                        animation-name: headerEnglish_01;
                        animation-iteration-count: 1;
                        animation-timing-function: linear;

                        @keyframes headerEnglish_01 {
                            0% {
                                stroke-dashoffset: 0;
                            }
                            25% {
                                stroke-dashoffset: 5.61;
                            }
                            50% {
                                stroke-dashoffset: 5.61;
                            }
                            50.00001% {
                                stroke-dashoffset: 5.61;
                            }
                            75% {
                                stroke-dashoffset: 5.61;
                            }
                            100% {
                                stroke-dashoffset: 0;
                            }
                        }
                    }

                    #headerEnglish_02 {
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                        animation-name: headerEnglish_02;
                        animation-iteration-count: 1;
                        animation-timing-function: linear;

                        @keyframes headerEnglish_02 {
                            0% {
                                stroke-dashoffset: 0;
                            }
                            50% {
                                stroke-dashoffset: 21.88;
                            }
                            50.00001% {
                                stroke-dashoffset: -21.88;
                            }
                            100% {
                                stroke-dashoffset: 0;
                            }
                        }
                    }

                    #headerEnglish_03 {
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                        animation-name: headerEnglish_03;
                        animation-iteration-count: 1;
                        animation-timing-function: linear;

                        @keyframes headerEnglish_03 {
                            0% {
                                stroke-dashoffset: 0;
                            }
                            50% {
                                stroke-dashoffset: -33.94;
                            }
                            50.00001% {
                                stroke-dashoffset: 33.94;
                            }
                            100% {
                                stroke-dashoffset: 0;
                            }
                        }
                    }

                    #headerGerman_01 {
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                        animation-name: headerGerman_01;
                        animation-iteration-count: 1;
                        animation-timing-function: linear;

                        @keyframes headerGerman_01 {
                            0% {
                                stroke-dashoffset: 0;
                            }
                            50% {
                                stroke-dashoffset: -33.22;
                            }
                            50.00001% {
                                stroke-dashoffset: 33.22;
                            }
                            100% {
                                stroke-dashoffset: 0;
                            }
                        }
                    }

                    #headerGerman_02 {
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                        animation-name: headerGerman_02;
                        animation-iteration-count: 1;
                        animation-timing-function: linear;

                        @keyframes headerGerman_02 {
                            0% {
                                stroke-dashoffset: 0;
                            }
                            25% {
                                stroke-dashoffset: 5.62;
                            }
                            50% {
                                stroke-dashoffset: 5.62;
                            }
                            50.00001% {
                                stroke-dashoffset: 5.62;
                            }
                            75% {
                                stroke-dashoffset: 5.62;
                            }
                            100% {
                                stroke-dashoffset: 0;
                            }
                        }
                    }

                    #headerGerman_03 {
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                        animation-name: headerGerman_03;
                        animation-iteration-count: 1;
                        animation-timing-function: linear;

                        @keyframes headerGerman_03 {
                            0% {
                                stroke-dashoffset: 0;
                            }
                            50% {
                                stroke-dashoffset: 21.89;
                            }
                            50.00001% {
                                stroke-dashoffset: -21.89;
                            }
                            100% {
                                stroke-dashoffset: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &.welcome {
        transform: translateY(-100%);
    }

    @media (max-width: $media-s) {
        #headerLeft,
        #headerRight {
            width: fit-content;
        }

        #headerLeft {
            margin-left: calc(var(--spacing-horizontal) - $paddingLogo);
            padding-left: 4px;
        }

        #headerRight {
            margin-right: calc(var(--spacing-horizontal) - $paddingLanguage);
        }
    }
}
