@import '../../App/Variables.scss';

#header {
    pointer-events: none;
    box-sizing: border-box;
    position: fixed;
    z-index: 99999;
    display: grid;
    grid-template-columns: var(--padding) auto var(--padding);
    grid-template-rows: 1fr;
    height: $spacing-header;
    width: 100%;
    mix-blend-mode: difference;
    filter: invert(100%);
    transition: padding $transition-m ease,
                transform $transition-l ease;

    #left {
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        height: 100%;

        .logo {
            cursor: pointer;
            pointer-events: all;
            width: 40px;
        }

        .text {
            width: 150px;
        }
    }

    #right {
        grid-column: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        box-sizing: border-box;
        height: 100%;

        #language {
            cursor: pointer;
            pointer-events: all;
            display: block;
            color: $color-blue;
            font-weight: 400;
            font-size: var(--font-size-p);
            letter-spacing: 2.5px;
            text-transform: uppercase;
            width: fit-content;
        }
    }

    &.welcome {
        transform: translateY(-100%);
    }

    @media (max-width: $media-s) {
        display: flex;
        justify-content: space-between;
        padding: 0 var(--padding);
    }
}
