@import '../../App/Variables.scss';

.gallery {
    position: relative;
    height: $spacing-gallery;
    width: 100%;
    overflow: hidden;
    background: $color-white;

    @media (min-width: 2000px) {
        min-height: 50vmax;
    }

    @media (max-height: calc($spacing-gallery + 200px)) {
        max-height: 50vmax;
    }

    .galleryClick {
        pointer-events: none;
        position: absolute;
        z-index: 750;
        height: 100%;
        width: 100%;

        .galleryLeft,
        .galleryRight {
            display: none;
            position: absolute;
            height: 100%;
            width: $spacing-click;

            @media (max-width: $media-s) {
                width: 50% !important;
            }
        }

        .galleryLeft {
            left: 0;
        }

        .galleryRight {
            right: 0;
        }
    }

    .galleryDrag {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 500;
        height: 100%;
        width: 100%;
    }

    .galleryBullets {
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $spacing-bullet * 3.5;
        position: absolute;
        z-index: 250;
        height: 100px;
        width: 100%;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
        mix-blend-mode: difference;
        filter: invert(100%);

        div {
            display: none;
            border-radius: 50%;
            height: $spacing-bullet;
            width: $spacing-bullet;
            background-color: transparentize($color-blue, 0.5);
            transition: background-color 0.5s ease;

            &.current {
                background-color: $color-blue;
            }

            &.active {
                display: block;
            }
        }
    }

    .parallax {
        position: relative;
        z-index: 1;
    }

    .galleryA,
    .galleryB {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 var(--spacing-horizontal);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease;

        img,
        video {
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }

        &.active {
            visibility: visible;
        }

        &.transition {
            transition: transform 0.5s ease;
        }
    }

    .galleryMessage {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        mix-blend-mode: difference;
        filter: invert(100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        p {
            opacity: 0.15;
            white-space: nowrap;
        }

        #galleryLogo {
            opacity: 0.15;
            height: 75px;
            width: 75px;

            #galleryLogo_01,
            #galleryLogo_02,
            #galleryLogo_03 {
                fill: none;
                stroke: $color-blue;
                stroke-width: 25;
                stroke-dashoffset: 0;
            }

            #galleryLogo_01 {
                stroke-dasharray: 518 518;
                animation-duration: 4s;
                animation-fill-mode: forwards;
                animation-name: galleryLogo_01;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                @keyframes galleryLogo_01 {
                    0% {
                        stroke-dashoffset: 0;
                    }
                    20% {
                        stroke-dashoffset: -518;
                    }
                    40% {
                        stroke-dashoffset: -518;
                    }
                    50% {
                        stroke-dashoffset: -518;
                    }
                    50.00001% {
                        stroke-dashoffset: 518;
                    }
                    70% {
                        stroke-dashoffset: 0;
                    }
                    90% {
                        stroke-dashoffset: 0;
                    }
                    100% {
                        stroke-dashoffset: 0;
                    }
                }
            }

            #galleryLogo_02 {
                stroke-dasharray: 379 379;
                animation-duration: 4s;
                animation-fill-mode: forwards;
                animation-name: galleryLogo_02;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                @keyframes galleryLogo_02 {
                    0% {
                        stroke-dashoffset: 0;
                    }
                    20% {
                        stroke-dashoffset: 0;
                    }
                    40% {
                        stroke-dashoffset: -379;
                    }
                    50% {
                        stroke-dashoffset: -379;
                    }
                    50.00001% {
                        stroke-dashoffset: 379;
                    }
                    70% {
                        stroke-dashoffset: 379;
                    }
                    90% {
                        stroke-dashoffset: 0;
                    }
                    100% {
                        stroke-dashoffset: 0;
                    }
                }
            }

            #galleryLogo_03 {
                stroke-dasharray: 163 163;
                animation-duration: 4s;
                animation-fill-mode: forwards;
                animation-name: galleryLogo_03;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                @keyframes galleryLogo_03 {
                    0% {
                        stroke-dashoffset: 0;
                    }
                    20% {
                        stroke-dashoffset: 0;
                    }
                    40% {
                        stroke-dashoffset: 0;
                    }
                    50% {
                        stroke-dashoffset: -163;
                    }
                    50.00001% {
                        stroke-dashoffset: 163;
                    }
                    70% {
                        stroke-dashoffset: 163;
                    }
                    90% {
                        stroke-dashoffset: 163;
                    }
                    100% {
                        stroke-dashoffset: 0;
                    }
                }
            }
        }
    }

    &.expansion {
        .galleryA,
        .galleryB {
            padding: 0;

            img,
            video {
                min-width: 100%;
            }
        }
    }

    &.fullScreen {
        width: 100%;
        height: 100%;
        max-height: 100% !important;
    }

    &.loadingScreen {
        background: $color-transparent;
    }

    &.hasLoaded {
        .galleryBullets,
        .galleryA,
        .galleryB {
            opacity: 1;
        }

        .galleryClick .galleryLeft,
        .galleryClick .galleryRight {
            display: block;
            pointer-events: all;
        }
    }

    &.hasError {
        .galleryBullets,
        .galleryA,
        .galleryB {
            opacity: 0;
        }

        .galleryClick .galleryLeft,
        .galleryClick .galleryRight {
            display: none;
            pointer-events: none;
        }

        .galleryMessage #galleryLogo_01,
        .galleryMessage #galleryLogo_02,
        .galleryMessage #galleryLogo_03 {
            animation-iteration-count: 1 !important;
            animation-duration: 0 !important;
        }
    }
}
