@import '../../App/Variables.scss';

#rooms {
    padding: 0 var(--spacing-horizontal);
    overflow: hidden;

    #roomsFilters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        margin: var(--spacing-vertical-s) 0;

        .filter {
            cursor: pointer;
            border: $border-s solid $color-blue;
            padding: 10px;

            &.active {
                color: $color-white;
                background-color: $color-blue;
            }
        }
    }

    #roomsGrid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;

        .room {
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
            border: $border-m solid $color-blue;

            &.opacity {
                opacity: 0;
            }

            &.animation {
                animation: room 0.5s ease forwards;
            }

            @keyframes room {
                0% {
                    opacity: 0;
                    transform: translateY(200px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }

            .roomImage {
                position: relative;
                height: 100%;
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .parallax {
                    position: absolute;
                }
            }

            .roomContent {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--spacing-box-vertical);
                padding: var(--spacing-box-vertical) var(--spacing-box-horizontal);
                height: 100%;
                width: 100%;

                .roomDescription {
                    line-height: $line-height-m;
                    text-align: justify;
                }

                .roomButton {
                    margin-top: auto;
                }
            }

            @media (max-width: $media-m) {
                flex-direction: column;

                .roomImage {
                    padding-bottom: 75%;
                }

                .roomContent {
                    align-items: center;
                }
            }
        }
    }
}
