@import '../../General/Variables.scss';

#overview {
    .header {
        height: 100vh;
        width: 100vw;
        max-width: 100%;

        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
            max-width: 100%;
        }

        #welcome {
            pointer-events: none;
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: opacity $transition-l ease;
            mix-blend-mode: difference;

            #picture {
                position: absolute;
                top: -100px;
                left: -60px;
                width: 175px;
            }

            #fontHorizontal {
                display: none;
            }

            #fontVertical {
                margin-top: $spacing-l;
                width: 200px;
            }

            #mouse {
                position: absolute;
                left: 50%;
                bottom: $spacing-l;
                transform: translate(-50%, 0%);
                height: 40px;
                width: 25px;
                border: 2px solid $color-white;
                border-radius: 50px;
                animation: mouse 2s ease;

                @keyframes mouse {
                    0% {
                        opacity: 0;
                        transform: translate(-50%, -25px);
                    }
                    100% {
                        opacity: 1;
                        transform: translate(-50%, 0px);
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $color-white;
                    border-radius: 50%;
                    animation: wheel 3s infinite ease;
                }

                @keyframes wheel {
                    0% {
                        opacity: 0;
                    }
                    10% {
                        top: 10px;
                        opacity: 1;
                    }
                    80% {
                        top: 20px;
                        opacity: 1;
                    }
                    90% {
                        opacity: 0;
                    }
                    100% {
                        top: 20px;
                        opacity: 0;
                    }
                }
            }

            #logo {
                pointer-events: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: $spacing-m;
                filter: invert(1);

                #picture {
                    mask .brush_01,
                    mask .brush_02,
                    mask .brush_03,
                    mask .brush_04,
                    mask .brush_05 {
                        fill: none;
                        stroke: $color-white;
                        stroke-width: 20;
                        stroke-dasharray: 75 75;
                        stroke-dashoffset: 75;
                        animation-name: brushLogo;
                        animation-duration: 2s;
                        animation-delay: 0s;
                        animation-fill-mode: forwards;
                        animation-timing-function: ease;
                    }

                    mask .brush_01 {
                        animation-delay: 0;
                    }
        
                    mask .brush_02 {
                        animation-delay: 0.2s;
                    }
        
                    mask .brush_03 {
                        animation-delay: 0.6s;
                    }
        
                    mask .brush_04 {
                        animation-delay: 0.9s;
                    }
        
                    mask .brush_05 {
                        animation-delay: 1s;
                    }
                }

                #fontHorizontal,
                #fontVertical {
                    mask path {
                        fill: none;
                        stroke: $color-white;
                        stroke-dasharray: 75 75;
                        stroke-dashoffset: 75;
                        stroke-width: 15;
                        animation-name: brushLogo;
                        animation-duration: 2s;
                        animation-delay: 0s;
                        animation-fill-mode: forwards;
                        animation-timing-function: ease;
                    }
        
                    mask .brush_01 {
                        animation-delay: 0;
                    }
        
                    mask .brush_02 {
                        animation-delay: 0.1s;
                    }
        
                    mask .brush_03 {
                        animation-delay: 0.2s;
                    }
        
                    mask .brush_04 {
                        animation-delay: 0.3s;
                    }
        
                    mask .brush_05 {
                        animation-delay: 0.1s;
                    }
        
                    mask .brush_06 {
                        animation-delay: 0.4s;
                    }
        
                    mask .brush_07 {
                        animation-delay: 0.2s;
                    }
        
                    mask .brush_08 {
                        animation-delay: 0.2s;
                    }
        
                    mask .brush_09 {
                        animation-delay: 0.3s;
                    }
        
                    mask .brush_10 {
                        animation-delay: 0.4s;
                    }
        
                    mask .brush_11 {
                        animation-delay: 0.45s;
                    }
        
                    mask .brush_12 {
                        animation-delay: 0.3s;
                    }
        
                    mask .brush_13 {
                        animation-delay: 0.4s;
                    }
        
                    mask .brush_14 {
                        animation-delay: 0.6s;
                    }
        
                    mask .brush_15 {
                        animation-delay: 0.1s;
                    }
        
                    mask .brush_16 {
                        animation-delay: 0.2s;
                    }
        
                    mask .brush_17 {
                        animation-delay: 0.3s;
                    }
        
                    mask .brush_18 {
                        animation-delay: 0.6s;
                    }
        
                    mask .brush_19 {
                        animation-delay: 0.9s;
                    }
        
                    mask .brush_20 {
                        animation-delay: 0.4s;
                    }
        
                    mask .brush_21 {
                        animation-delay: 0.5s;
                    }
        
                    mask .brush_22 {
                        animation-delay: 0.6s;
                    }
        
                    mask .brush_23 {
                        animation-delay: 0.7s;
                    }
        
                    mask .brush_24 {
                        animation-delay: 0.2s;
                    }
        
                    mask .brush_25 {
                        animation-delay: 0.3s;
                    }
        
                    mask .brush_26 {
                        animation-delay: 0.5s;
                    }
        
                    mask .brush_27 {
                        animation-delay: 0.6s;
                    }
        
                    mask .brush_28 {
                        animation-delay: 0.7s;
                    }
        
                    mask .brush_29 {
                        animation-delay: 0.8s;
                    }
        
                    mask .brush_30 {
                        animation-delay: 0.3s;
                    }
        
                    mask .brush_31 {
                        animation-delay: 0.4s;
                    }
        
                    mask .brush_32 {
                        animation-delay: 0.5s;
                    }
            
                    @keyframes brushLogo {
                        0% { stroke-dashoffset: 75; }
                        20% { stroke-dashoffset: 75; }
                        80% { stroke-dashoffset: 0; }
                        100% { stroke-dashoffset: 0; }
                    }
                }
            }
        }
    }
    
    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        background-color: blue;
    }
}