@import '../../App/Variables.scss';

#footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 100px 0;
    box-sizing: border-box;
    padding: var(--spacing-vertical-l) var(--spacing-horizontal);
    width: 100%;

    #information {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 25px;

        #address {
            display: flex;
            flex-direction: column;
            line-height: 1.5;
        }
    }

    #scrollToTop {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        grid-column: 3;
        grid-row: 1;

        div {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            img {
                height: 20px;
            }
        }
    }

    #links {
        grid-column: 1 / 2;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        white-space: nowrap;
    }

    #social {
        grid-column: 3;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        a {
            position: relative;
            width: $spacing-icon;
            height: $spacing-icon;

            img {
                pointer-events: none;
                box-sizing: border-box;
                position: absolute;
                height: 100%;
                width: 100%;
                padding: 25px;
            }

            svg {
                height: 100%;
                width: 100%;

                circle {
                    fill: transparent;
                    stroke: $color-blue;
                    stroke-width: $border-l;

                    &.rotate {
                        opacity: 0;
                        stroke-dasharray: 250;
                        stroke-dashoffset: 1000;
                    }

                    &.static {
                        opacity: 1;
                    }
                }

                @media (hover: hover) {
                    &:hover circle {
                        &.rotate {
                            animation: rotate 1.25s linear forwards;
                        }

                        &.static {
                            animation: static 1.25s linear forwards;
                        }
                    }
                }

                @keyframes rotate {
                    0% {
                        opacity: 1;
                        stroke-dashoffset: 1000;
                    }
                    99% {
                        opacity: 1;
                        stroke-dashoffset: 500;
                    }
                    100% {
                        opacity: 0;
                        stroke-dashoffset: 500;
                    }
                }

                @keyframes static {
                    0% {
                        opacity: 0;
                    }
                    99% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        }
    }

    @media (max-width: $media-m) {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        gap: 50px 0;

        #scrollToTop {
            grid-column: 1;
            grid-row: 1;
        }

        #information {
            grid-column: 1;
            grid-row: 1;
        }

        #social {
            grid-column: 1;
            grid-row: 2;
            justify-content: center;
        }

        #links {
            grid-column: 1;
            grid-row: 3;
            flex-wrap: wrap-reverse;
            justify-content: center;

            .copyright {
                display: block;
                min-width: 100%;
                text-align: center;
            }
        }
    }

    @media (max-width: $media-s) {
        grid-template-rows: auto auto auto auto;

        #scrollToTop {
            grid-row: 1;
        }

        #information {
            grid-row: 2;
        }

        #social {
            grid-row: 3;
        }

        #links {
            grid-row: 4;
        }
    }
}
