/******************************/
/************ COLOR ***********/
/******************************/

$color-white: #FFFFFF;
$color-white-shadow: #FFFFFF40;

$color-black: #000000;
$color-black-shadow: #00000040;

$color-red: #B32323;
$color-green: #00c327;
$color-blue: #0249ce;

/******************************/
/********** FONT-SIZE *********/
/******************************/

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 48px;

/******************************/
/********* FONT-WEIGHT ********/
/******************************/

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

/******************************/
/*********** SPACING **********/
/******************************/

$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 25px;
$spacing-l: 50px;
$spacing-xl: 75px;

/******************************/
/******** BORDER-RADIUS *******/
/******************************/

$border-radius-s: 5px;
$border-radius-m: 10px;
$border-radius-l: 20px;

/******************************/
/************ MEDIA ***********/
/******************************/

$media-s: 600px;
$media-m: 1000px;
$media-l: 1500px;

/******************************/
/********* TRANSITION *********/
/******************************/

$transition-s: 0.25s;
$transition-m: 0.5s;
$transition-l: 1s;

/******************************/
/******** BORDER WIDTH ********/
/******************************/

$border-circle: 2.5px;
$border-underline: 1.5px;

/******************************/
/********* BOX-SHADOW *********/
/******************************/

$box-shadow-blur: 10px;
$box-shadow-spread: 0px;
