#mouse {
    display: none;
    pointer-events: none;
    position: fixed;
    z-index: 99999;

    &.cursorLeft,
    &.cursorRight {
        display: block;
        height: 50px;
        width: 75px;
        background-repeat: no-repeat;
        background-position: center;
        mix-blend-mode: difference;
        margin-left: -37.5px;
        margin-top: -25px;
        filter: invert(100%);
    }

    &.cursorLeft {
        background-image: url('assets/svg/arrow_large_left.svg');
    }

    &.cursorRight {
        background-image: url('assets/svg/arrow_large_right.svg');
    }
}
